/************** Font css styles *********/
@font-face {
    font-family:OpenSansLight;
    src: url('fonts/OpenSans-Light_0.ttf');
}

@font-face {
    font-family:OpenSansLightItalic;
    src: url('fonts/OpenSans-LightItalic_0.ttf');
}

@font-face {
    font-family:OpenSansSemibold;
    src: url('fonts/OpenSans-Semibold_0.ttf');
}

@font-face {
    font-family:OpenSansSemiboldItalic;
    src: url('fonts/OpenSans-SemiboldItalic_0.ttf');
}

@font-face {
    font-family:OpenSansRegular;
    src: url('fonts/OpenSans-Regular_0.ttf');
}

@font-face {
    font-family:OpenSansBold;
    src: url('fonts/OpenSans-Bold_0.ttf');
}

@font-face {
    font-family:OpenSansBoldItalic;
    src: url('fonts/OpenSans-BoldItalic_0.ttf');
}

@font-face {
    font-family:PTSansLight;
    src: url('fonts/PTS55F.ttf');
}

@font-face {
    font-family:PTSansLightItalic;
    src: url('fonts/PTS56F.ttf');
}


@font-face {
    font-family:PTSansBold;
    src: url('fonts/PTS75F.ttf');
}

@font-face {
    font-family:PTSansBoldItalic;
    src: url('fonts/PTS76F.ttf');
}

.opensans-light{
font-family:'OpenSansLight';
}

.opensans-sbold{
font-family:'OpenSansSemibold';
}
.opensans-regular{
font-family:'OpenSansRegular';
}
.opensans-bold{
font-family:'OpenSansBold';
}
.ptsans-light{
font-family:'PTSansLight';
}
.ptsans-bold{
font-family:'PTSansBold';
}
