
/* Share with representative */

@media all and (max-width: 1090px) {

}
@media only screen and (min-width: 5px) and (max-width:825px){
    .o-box{
        width: 86%;
        min-width: 245px;
        left: -20px;
    }
    .lbl-in-block{
        width: 90%;
    }
    .signup-root-content{
        width: 61%;
    }
    html,body {
        overflow-y:auto !important;  
    }
}

@media all and (max-width: 320px) {
    html,body {
        min-width: 320px !important;
        width: 100% !important;  
        overflow-x:hidden !important;  
        overflow-y:auto !important;  
    }

    html,body {
        overflow-y:auto !important;  
    }

    .m-width {
        max-width: 320px !important;
    }

    #email{
        width: 75% !important;  
    }

    .root-logo-content{
        margin-left: 20% !important;
    }
}


@media all and (min-width: 823px) {

    .root-logo-content{
        margin-left: 42% !important;
    }
}


/*Home Page styles*/

@media all and (max-width: 1263px) {

    .submenu-tab,.submenu-sort{
        width: 100px !important;
    }


}

@media all and (max-width: 1182px) {
    .rg-block{
        height: 119px !important;
    }

    .feed-addRemove-block {
        margin-top: 18px;
        line-height: 47px !important;
    }
}
@media all and (max-width: 725px) {
    .feed-user-det-b .top-b .alert-type {
        margin-left: 0px !important;
    }
}
@media all and (max-width: 700px) {
    .feed-user-share-b{
        width: 100% !important;
        margin-left: 91px !important;
        margin-top: 6px;

    }
}

@media all and (min-width: 700px) and (max-width: 1180px) {

    .feed-user-share-b{
        width: 100% !important;
        margin-left: 91px !important;
    }

}

@media all and  (max-width: 620px) {

    .rg-block{
        display: none !important;
    }
    .lf-block {
        width: 100%;
    }

    .leftblk-spacing{
        width: 100%;

    }

}


@media all and (max-width: 350px)
{   
    .lf-block{
        width: 60% !important;

    }
    html,body {
        overflow-y:auto !important;  
    }
}
@media all and (max-width: 400px)
{   
    .lf-block{
        width: 60% !important;

    }
    html,body {
        overflow-y:auto !important;  
    }
}

@media (max-width: 450px)
{   .logo-container {
        width: 24% !important;
    }
    .lf-block{
        width: 70% !important;

    }
    html,body {
        overflow-y:auto !important;  
    }
}

@media all and (max-width: 500px)
{   
    .lf-block{
        width: 82% !important;

    }
}

@media all and (max-width: 590px)
{   
    .lf-block{
        width: 84% !important;

    }
}

@media all and (max-width: 619px)
{   
    .lf-block{
        width: 101% !important;

    }
}


@media all and (min-width: 600px) and (max-width: 724px) {
    .rg-block{
        height: 180px !important;
    }
}

@media all and (max-width: 1350px){

    .carrier-profile-screen{
        width: 30% !important;
    }

}

@media all and (max-width: 740px){

    .carrier-profile-screen{
        width: 45% !important;
    }

}

@media all and (max-width: 500px){

    .carrier-profile-screen{
        width: 98% !important;
    }



}

@media all and (max-width: 855px){

    .carrier-profile-screen{
        width: 98% !important;
    }

    .mycarrierlogo-pic {
        width: 24% !important;
    }

}

@media all and (min-width: 320px) and (max-width: 700px) {
    html,body {
        overflow-y:auto !important;  
    }
    #id-associatedropdown{
        /* width: 56% !important; */
    }

}

@media all and (min-width: 650px) and (max-width: 949px) {

    #id-associatedropdown{
        width: 30% !important;
    }

}

@media all and (min-width: 950px) and (max-width: 1245px) {

    #id-associatedropdown{
        width: 24% !important;
    }
}
@media all and (min-width: 635px) and (max-width: 920px) {

    .docs-block a {
        margin-right: 30px !important;
    }
}

@media all and (max-width: 400px){
    html,body {
        overflow-y:auto !important;  
    }
    .view-in-blocks{
        width: 85% !important;
    }
}

@media all and (max-width: 1252px){

    .view-in-blocks{
        margin-bottom: 10px !important;
        margin-top: 10px !important;
        overflow-x: hidden !important;
        width: 90% !important;
    }
}

@media all and (max-width: 620px){
    .feed-user-details-top {
        width: 70% !important;
        float: right;
        margin-top:  -98px !important;
    }


}

@media all and (min-width: 543px) and (max-width: 1210px){
    .carrier-view-website{
        width: 93% !important;margin-bottom: 5px !important;
    }
    .carrier-view-facebook{
        width: 93% !important;       
    }
}

@media all and  (max-width: 760px){  

    .carrier-view-rightblock{
        display: table-cell !important; 
        width: 50% !important; 

    }

    .carrier-left-title,.carrier-left-content{
        font-size: 12px !important; 
    }
    .carrier-view-leftbloack{
        width: 100% !important; 
    }

    .carrier-view-website{
        width: 95% !important;margin-bottom: 5px !important;
    }
    .carrier-view-facebook{
        width: 95% !important;       
    }


    .carrier-view-rightblock{
        width: 42% !important; 
    }

}

@media all and  (max-width: 460px){  
    html,body {
        overflow-y:auto !important;  
    }
    .carrier-view-rightblock{
        display: table-cell !important; 
        width: 460px; 

    }

    .carrier-left-title,.carrier-left-content{
        font-size: 10px !important; 
    }

    .carrier-view-leftbloack{
        width: 100% !important; 
    }

    .carrier-view-website{
        width: 95% !important;margin-bottom: 5px !important;
    }
    .carrier-view-facebook{
        width: 95% !important;       
    }
    .carrier-view-rightblock{
        width: 101% !important; 
    }
}

@media all and  (max-width: 1222px){

    .parent-content-holder{
        width: 32% !important;   
    }
}

@media all and  (max-width: 920px){

    .parent-content-holder{
        width: 31% !important;   
    }
}

@media all and  (max-width: 630px){

    .parent-content-holder{
        width: 47% !important;   
    }
}

@media all and  (max-width: 520px){
    html,body {
        overflow-y:auto !important;  
    }
    .parent-content-holder{
        width: 98% !important;   
    }
}
@media all and  (max-width: 460px){  
    html,body {
        overflow-y:auto !important;  
    }
    #id-carrier-view-rightblock{
        width: 45% !important; 
    }

    .content-holder{
        overflow-x: hidden !important;
    }


    .carrier-left-title,.carrier-left-content{
        font-size: 12px !important; 
    }

    .carrier-view-leftbloack{
        width: 100% !important; 
    }

    .carrier-view-website{
        width: 92% !important;margin-bottom: 5px !important;
    }
    .carrier-view-facebook{
        width: 92% !important;       
    }
    .carrier-view-rightblock{
        width: 63% !important; 
    }

}
@media all and  (max-width: 640px){  
    .customer-policy-button{
        width: 200px !important; 
    }

}
//id-carrier-view-rightblock
@media all and  (max-width: 1000px){  

    #id-carrier-view-rightblock{
        width: 60% !important; 
    }
    .carrier-view-rightblock{
        width: 101% !important; 
    }
}

@media all and  (min-width: 460px) and (max-width: 759px){  
    .content-holder{
        overflow-x: hidden !important;
    }
}
@media all and  (min-width: 760px) and (max-width: 1200px){  


    .content-holder{
        overflow-x: hidden !important;
    }

    .associated-carrierview {
        width: 100% !important; 
    }


    #id-carrier-view-rightblock{
        //display: table-cell !important; 
        margin-left: 8% !important;
        width: 75% !important; 

    }

    .carrier-left-title,.carrier-left-content{
        font-size: 12px !important; 
    }
    .carrier-view-leftbloack{
        width: 100% !important; 
    }

    .carrier-view-website{
        width: 96% !important;margin-bottom: 5px !important;

        /* max-width: 120px; */
    }
    .carrier-view-facebook{
        width: 96% !important;       
    }

    .customer-logo-view{
        margin-top: 0px !important; 
        margin-left: -20px !important; 
    }

    .carrier-view-rightblock{
        width: 100% !important; 
    }
}


@media all and  (max-width: 1217px){  

    .reps-feed-screen{
        width: 32% !important; 
    }
}

@media all and  (max-width: 1066px){  

    .reps-feed-screen{
        width: 32% !important; 
    }
}

@media all and  (max-width: 995px){  

    .reps-feed-screen{
        width: 46% !important; 
        margin-left: 10px !important; 
        margin-right: 5px !important; 
    }
}

@media all and  (max-width: 662px){  

    .reps-feed-screen{
        width: 96% !important; 
    }
}

@media all and  (max-width: 612px){  

    .login-type-box2{
        min-width: 72% !important; 
    }

    .login-type-box1{
        margin-left: 5px !important; 
    }
}
@media all and (min-width: 617px) and (max-width: 684px){
    #id-custphone,.phone-icon-pos{
        margin: 5px 0px 5px 0px !important;
    }

    .phone-icon-pos{
        margin-right: 5px !important;
    }
}

@media all and (min-width: 729px) and (max-width: 1083px){
    .rg-block{
        height: 147px !important;
    }
}

@media all and  (max-width: 471px){  
    html,body {
        overflow-y:auto !important;  
    }
    #id-custphone,.phone-icon-pos{
        margin: 5px 0px 5px 0px !important;
    }

    .phone-icon-pos{
        margin-right: 5px !important;
    }
}
@media all and  (max-width: 1081px){  

    #id-custemail,.email-icon-pos{
        margin: 5px 0px 5px 0px !important;
    }

    .email-icon-pos{
        margin-right: 5px !important;
    }
}

@media all and  (min-width: 620px) and (max-width: 730px){  

    .parent-content-holder{
        width: 48% !important;
    }
}

@media all and  (max-width: 480px){  
    .carrier-view-left,.carrier-view-right{
        width: 100% !important;
    }
}


