html,body {
margin:0px;
padding:0px;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
transition: 0.5s;
}
body{
position:relative;
z-index:1;
}
body{
font-size:15px;
}

.body-bg-color{
background:#E9EFF0;
}

input[type=checkbox] {
	display: none;
}
input[type=checkbox] + label {  
   cursor:pointer; 
}
input, textarea {
border:none;
outline:none;
padding:0;
margin:0;
width:100%;
background: #7c7c7c;
color:#Fff;
border-radius: 0px;
}
textarea {
resize: none;
}
p {
margin:0px;
padding:0px;
}
h1,h2,h3,h4,h5,h6{
margin:0;
padding:0;
}
h1, h2, h3, h4, h5, h6 {
font-weight:normal;
}
a {
color: #333;
text-decoration: none;
}
*::-webkit-input-placeholder {
    color: #FFF;
}
*:-moz-placeholder {
    color: #FFF;
}
*::-moz-placeholder {
    color: #FFF;
}
*:-ms-input-placeholder {
    color: #FFF;
}
.block {display:block}
.inline-block {display:inline-block;}
.p-relative {position:relative;}
.p-absolute {position:absolute;}
.left {float:left;}
.right {float:right;}
.clr-fl{overflow:hidden;position:relative;}
.t-center {text-align:center;}
.t-left{text-align:left;}
.t-right{text-align:right;}
.display-none {display:none !important;}
.opacity-0 {opacity:0;}
.noscroll{overflow:hidden !important;}
.pointer{cursor:pointer;}

.bg-color-green{background: #379ba2;}
.bg-color-red,.selected-tab{background: #f34f4e;}
.bg-color-dblue{background: #c8d2d5;}
.bg-color-white{background:#fff;}
.anim {
-webkit-transition:  0.25s ease-in-out;
-ms-transition:  0.25s ease-in-out;
-moz-transition: 0.25s ease-in-out;
-o-transition: 0.25s ease-in-out;
transition: 0.25s ease-in-out;
}

.anim-opacity {
-webkit-transition-property: opacity;
-ms-transition-property: opacity;
-moz-transition-property: opacity;
-o-transition-property: opacity;
}

.defaultFont, input, textarea, select {font-size: 15px;}
input, select, textarea {
font-family: "OpenSansLight", helvetica, Arial;
-webkit-font-smoothing: antialiased;
-webkit-appearance: none;
-moz-appearance: none;
border: none;
border: 0;
outline: none;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
width: 100%;
height: 38px;
padding: 7px;
outline: 0;
}

.f-color-red, .alert-color{color: #f34f4e;}
.f-color-green{color: #379ba2;}
.f-color-w{color:#fff;}
.bold{font-weight:bold;}
.f-sz-20{font-size:20px;}
.f-sz-18{font-size:18px;}
.f-sz-17{font-size:17px;}
.f-sz-16{font-size:16px;}
.f-sz-14{font-size:14px;}
.f-sz-13{font-size:13px;}
.f-sz-12{font-size:12px;}
.f-italic{font-style:italic;}
.v-align-bot{vertical-align:bottom;}
.v-align-t-bot{vertical-align:text-bottom;}
.v-align-mid{vertical-align:middle;}
.v-align-top{vertical-align:top;}
.t-upper{text-transform: uppercase;}
.t-caps{text-transform:capitalize;}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.border-all{
border:1px solid #b9b8b8;
}
.border-top{
border-top:1px solid #b9b8b8;
}
.border-bot{
border-bottom:1px solid #b9b8b8;
}

.logo-container{width:25%;}

.m-width{
max-width:1300px;
margin: auto;
}
.w-pad{
width:100%;
margin:auto;
}
.lf-block{
width: 70%;
overflow: hidden;
}
.leftblk-spacing{padding-right: 16px;}
.rg-block{
width: 30%;
overflow: hidden;
}
.header-left-panel > div{
margin-top: 15px;
}
.logo{
height: 53px;
}

.clear{clear:both;}
.searchbox-border{border:1px solid #b9b8b8;}

.logo-holder{
width:100%;
height: 53px;
overflow: hidden;
position: relative;
/* background: #CCC; */
color: #FFF;
text-align: center;
max-height: 53px;
}

.logo-info-blk{
max-height: 90px;
margin:0px auto 15px auto;
overflow: hidden;
}

.search-blk{
/*margin-left: 20px;*/
position: relative;
width:75%;
}
.searchbox-holder{
width:738px;
border:1px solid #b9b8b8;
position: relative;
}

.search-ip {
    height: 53px;
    width: 100%;
    font-size: 16px;
    background: #EBF0F1;
    color: #7a7a7a;
	padding: 10px;
}
.search-ip::-moz-placeholder {
font-style:italic !important; color:#b9b8b8 !important;
}
.search-ip::-webkit-input-placeholder {
font-style:italic !important; color:#b9b8b8 !important;
}
.search-ip:-ms-input-placeholder {
font-style:italic !important; color:#b9b8b8 !important;
}
.search-ip:-moz-placeholder {
font-style:italic !important; color:#b9b8b8 !important;
}
.logged-user-info{
/*width: 362px;*/
border:1px solid #b9b8b8;
margin-top: 15px;
height: 53px;
text-align: left;
display:block;
overflow:hidden;
}
.logged-user-info >div:first-child{
margin-right: 10px;
}
.sprite-im{
background:url('../images/sprite_images_icon.png') no-repeat;
}

.logged-user-info >div{
line-height:53px;
}

.logged-user-info .user-pic-box {
width: 60px;
height:53px;
overflow:hidden;
position: relative;
background: #CCC;
color: #FFF;
text-align: center;
max-height: 55px;
}

.logged-user-info .user-pic-box  > img {
height: 53px;
vertical-align: top;
}

.logged-user-info .user-drop-icon{
position: absolute;
top: 22px;
right: 25px;
}
.logged-user-info .user-info{
width:auto;
}
.logged-user-info .user-info > div {
width: 250px;
}


/************* Icons *********************/
.pop-out{
     background-position:-64px -331px;
	width: 25px;
	height: 21px;
}
.edit-icon{
    background-position:-8px -115px;
	width: 15px;
	height: 15px;
}
.pause-icon{
	background-position: -74px -310px;
	width: 9px;
	height: 14px;
}
.play-icon{
	background-position:-71px -340px;
	width: 15px;
	height: 18px;
}
.video-prev-icon{
	background-position:-7px -339px;
	width: 16px;
	height: 16px;
}

.video-next-icon{
	background-position:-40px -364px;
	width: 16px;
	height: 16px;
}

.fastforward-icon{
	background-position:-10px -365px;
	width: 15px;
	height: 12px;
}
.fastrewind-icon{
	background-position:-34px -340px;
	width: 15px;
	height: 12px;
}

.search-icon{
	background-position:-69px -365px;
	width: 17px;
	height: 17px;
}

.slider-icon{
	background-position:-10px -391px;
	width: 10px;
	height: 39px;
}


.mobile-icon{
	background-position: -83px -80px;
	width: 8px;
	height: 18px;
}

.map-icon{
	background-position:-40px -210px;
	width: 11px;
	height: 18px
}

.calendar-icon{
	background-position:-11px -211px;
	width: 16px;
	height: 18px;
}

.phone-icon{
	background-position:-70px -211px;
	width: 15px;
	height: 18px;
}

.email-icon{
	background-position:-10px -247px;
	width: 18px;
	height: 18px;
}

.share-icon{
	background-position:-79px -46px;
	width: 17px;
	height: 17px
}

.view-icon{
	background-position:-8px -84px;
	width: 21px;
	height: 11px;
}

.message-green-icon{
	background-position:-47px -232px;
	width: 48px;
	height: 33px;
}

.rep-icon{
	background-position:-48px -83px;
	width: 13px;
	height: 12px;
}

.drop-down-icon{
	background-position: -43px -243px;
	width: 17px;
	height: 9px;
}

.feeds-icon{
	background-position:-4px -7px;
	width: 27px;
	height: 20px;
}

.home-icon{
	background-position: -40px -8px;
	width: 29px;
	height: 24px;
}
.carriers-icon{
	background-position:-7px -41px;
	width: 25px;
	height: 24px;
}
.customers-icon{
	background-position:-45px -41px;
	width: 24px;
	height: 24px;
}
.myreps-icon{
	background-position:-80px -5px;
	width: 17px;
	height: 24px;
}
.text-icon{
	background-position:-12px -275px;
	width: 18px;
	height: 20px;
}
.photos-icon{
	background-position:-41px -275px;
	width: 18px;
	height: 20px;
}

.voice-icon{
	background-position:-71px -276px;
	width: 14px;
	height: 20px;
}

.close-icon{
	background-position:-4px -115px;
	width: 36px;
	height: 36px;
}

.print-icon{
	background-position:-54px -114px;
	width: 37px;
	height: 36px;
}

.download-icon{
	background-position:-3px -163px;
	width: 36px;
	height: 36px;
}

.copy-icon{
	background-position:-55px -163px;
	width: 37px;
	height: 36px;
}

.home-blue-icon{
	background-position:-7px -306px;
	width: 23px;
	height: 21px;
}

/**************Added By Manoj**************/
.datepicker-icon{
    background-position:-11px -211px;
    width: 15px;
    height: 16px;
    top: 10px;
    right: 10px;
}
/************* Icons *******************/




/********** Main Menu ******************/
.m-block {

/* width: 100%; */
}

.m-block > div{

}

.m-block .lf-block{
border-bottom: 1px solid #b9b8b8;
padding-bottom: 15px;
}

.m-block .rg-block{
border-bottom: 1px solid #b9b8b8;
padding-bottom: 15px;
}

.m-block .mb-menu {
position: relative;
height: 85px;
line-height: 85px;
width: 100%;
z-index: 101;
display: block;
overflow: hidden;
margin-bottom:16px;
}

.m-block .mb-menu > a{
width: 20%;
position: relative;
max-height: 85px;
color: #FFF;
}
.m-block .mb-menu > a .menu-center{
display: inline-block;
vertical-align: middle;
max-height: 55px;
}

.m-block .mb-menu > a .menu-center .menu-icon{
margin:auto;
position: relative;
}
.m-block .mb-menu > a .menu-center .menu-text{
position: relative;
top: -25px;
}
/*********** Main Menu ***************/

/************* Agency Info *******************/
.agency-info{
height: 110px;
max-height:110px;
padding:15px;
width: auto;
}
.agency-info a{
display:block;
width:100%;
overflow:hidden;
}

.agency-pic-box{
width:120px;
height:106px;
margin-right:26px;
position:relative;
overflow:hidden;
background: #fff;
}

.agency-pic-box:hover  .edit-agency-pic {
bottom: 5px;
}
.agency-pic-box:hover .edit-cover-pic{
	opacity:0.5;
	transition: all 0.5s;
}


.edit-cover-pic{
opacity:0;
height:100%;
width:100%;
margin:auto;
background:#333;
}


.edit-agency-pic{
opacity: 1;
bottom: -50px;
width: 50%;
padding: 5px;
left: 0;
height: 18px;
right: 0;
margin: auto;
}



.agency-pic-box img{
position:absolute;
top:0;
bottom:0;
left:0;
right:0;
margin:auto;
width: 100%;
}

.agency-name-details {
margin-top: 20px;
line-height: 30px;
}



.prof-view-overlay{padding:10px;border-bottom:solid 1px lightgray;font-family: 'PTSansLight';cursor:pointer;opacity:0.6;}
.prof-view-overlay:last-child{border-bottom:none;}
.pop-selected-color{color: #379ba2;}
.prof-view-overlay:hover{color: #379ba2;opacity:1;transition:all 0.4s;background:		#FCFCFC}
.prof-view-overlay-sort{padding:5px;border-bottom:solid 1px lightgray;font-family: 'PTSansLight';cursor:pointer;}
.prof-view-overlay-sort:last-child{border-bottom:none;}
.prof-view-overlay-sort:first-child{color: #379ba2;background-color:lightgray;}


/*********** Agency Info ***********************/


/************* Sub Menu **************************/
.sub-menu-text {
line-height: 25px;
}

.mb-submenu .mb-submenu-in  >div:first-child{
width:25%;
line-height: 39px;
}
.mb-submenu .mb-submenu-in  >div:last-child{
width:100%;
}


.mb-submenu .mb-submenu-in .bcrum-lb-submenu a{
/* margin-right:5px; */
}
.mb-submenu .mb-submenu-in .bcrum-lb-submenu a:last-child{
/* margin-right:0px; */
}

.tab-rb-submenu {
overflow: hidden;
}

.mr-space-10{
margin-right:10px;
}
.mt-space-ic{
/* margin-top: 7px; */
}
.bcrum-icon-blk{
margin:0px 5px;
}

.tab-rb-submenu > div .submenu-tab{
margin-right:2px;
height:39px;
display: block;
padding:0px 20px;
line-height: 38px;
color: #fff;
}

.tab-rb-submenu > div .submenu-tab:hover{
background: #f34f4e;
}

.feed-menu-text{padding-left:5px;}


.submenu-tab >span:first-child{
text-transform:capitalize;
}
.submenu-sort{
padding: 0px 15px;
border: 1px solid #b9b8b8;
width: 80px;
max-height: 37px;
overflow: hidden;
height: 37px;
margin-left: 15px;
}

.submenu-sort .submenu-drop-icon{
position:absolute;
right: 15px;
top:15px;cursor:pointer;
}
.submenu-sort  .sort-text{
line-height: 37px;
}
/*********** Sub Menu *****************************/



/****************** Footer *********************/
footer{
width:100%;
height:42px;
max-height:42px;
}
footer  .foot-in{
line-height:42px;
width: 1300px;
margin: auto;
}
.foot-rb .foot-nav{
overflow:hidden;
}
.foot-nav a {
display: inline-block;
margin: 0px 10px;
line-height: 15px;
border-right: 2px solid #7a7a7a;
padding-right: 20px;
}
.foot-nav a:last-child{
border-right: none;
}


/**************** Footer *****************************/

/********** Content Section **************************/
.container{
margin-bottom:20px;
min-height:500px;
margin-top: 15px;
max-height: 250px;
overflow: auto;
}

.container .content-holder{
/* overflow:auto; */
}

/*************** Feeds *********************/
.feed-block{
width:100%;
margin-bottom:16px;
}

.feed-block .feed-det{
height: 100%;
min-height: 85px;
}

.feed-block .feed-det .feed-det-pad{
padding:8px;
}
.feed-block .feed-det .feed-det-pad .feed-pic-b{
margin-right: 15px;
}

.feed-block .feed-det .feed-det-pad .feed-pic-b .feed-user-pic-box{
width: 80px;
height: 67px;
background: #fff;
border:2px solid #b9b8b8;
color: #FFF;
position: relative;
margin-left: auto;
margin-right: auto;
overflow: hidden;
}

.feed-block .feed-det .feed-det-pad .feed-pic-b .feed-user-pic-box img{
width:100%;
position: absolute;
margin: auto;
top: 0;
left: 0;
right: 0;
bottom: 0;
height: 100%;
}

.feed-user-det-b {
width: 60%;
}

.feed-user-det-b  .top-b {
margin-bottom: 10px;
}

.feed-user-det-b  .top-b .mobile-icon-pos{

}

.feed-user-det-b  .top-b .cust-name{
margin:0px 10px;
color:#585858;
}

.feed-user-det-b  .top-b .feed-time{
color: #939393;
margin: 0px 20px 0px 0px;
}
.feed-user-det-b  .top-b .alert-type{
margin: 0px 10px 0px 0px;
}
.feed-user-det-b  .top-b .rep-name{
color:#4f4b4b;
}

.feed-user-det-b  .bot-b .feed-date, .feed-user-det-b  .bot-b .feed-location, 
.feed-user-det-b  .bot-b .cust-phone, .feed-user-det-b  .bot-b .cust-email{
margin:0px 30px 0px 15px;
color:#4c4c4c;
}
.no-right-margin{
margin-right:0 !important;
}
.feed-user-share-b{
width: 25%;
position: relative;
/*margin-left: 20px;*/
font-family: 'PTSansLight';
}

.feed-user-share-b .feed-btn{
padding: 0px 15px;
height:30px;
color:#fff;
}
.feed-user-share-b a:first-child{
margin-right:15px;
}

.feed-user-share-b .feed-btn .feed-menu-text{
margin-left:10px;
}

.feed-user-share-b .feed-btn .mid-align{line-height:25px;}

.docs-block{
/* width:70%;
margin:auto; */
}

.docs-block a{
margin-right:60px;
}

.docs-block a:last-child{
margin-right:0
}


.feed-docs .doc-icon-box {
height: 40px;
position: relative;
display: block;
width: 35px;
background:#fff;
border: 1px solid #379ba2;
border-radius:30%;
margin-bottom:10px;
z-index:102;
}
.feed-docs .doc-icon-box .doc-icon-placement, .feed-docs .doc-cnt-box .doc-count-placement{
left: 0;
right: 0;
margin: auto;
top: 0;
bottom: 0;
position:absolute;
}
.feed-docs .doc-cnt-box {
height: 25px;
position: absolute;
display: inline-block;
width: 25px;
background: #379ba2;
border-radius: 30%;
color: #fff;
left: -19px;
top: 7px;
}
.feed-docs-pad {
padding: 8px;
}

.feed-det .feed-addRemove-block{
line-height: 70px;
}

/************** Feeds ********************/

/****** View Feeds ******************/
.view-feed-block{
width:100%;
}
.view-feed-block .view-in-blocks{
width: 45%;
padding:15px;
height:200px;
}
.view-feed-block .view-in-blocks:first-child{
margin-right:16px;
}
.view-in-blocks .feed-user-top-details .feed-pic-b .feed-user-pic-box{
height:100px;
width:100px;
position:relative;
overflow:hidden;
border: 2px solid #b9b8b8;
}
.view-in-blocks .feed-user-top-details .feed-pic-b .feed-user-pic-box img{
width:100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
}
.view-in-blocks .feed-user-top-details .feed-pic-b {
margin-right:15px;
}
.view-in-blocks .feed-user-top-details .feed-user-details-top{

}
.view-in-blocks .feed-user-top-details .feed-user-details-top .line1 {
margin-bottom:10px
}

.view-in-blocks .feed-user-top-details .feed-user-details-top .line1  > div, .view-in-blocks .feed-user-top-details .feed-user-details-top  .feed-user-other-details >div{
margin-right:5px;
}
.view-in-blocks .feed-user-top-details .feed-user-details-top  .line1 > div:last-child, .view-in-blocks .feed-user-top-details .feed-user-details-top  .feed-user-other-details > div:last-child{
margin-right:0px;
}
.view-in-blocks .feed-user-top-details .feed-user-details-top  .feed-user-other-details{
margin-top:15px;
}

.view-in-blocks .feed-user-bottom-details {
margin-top: 15px;
}
.view-in-blocks .feed-user-bottom-details > div{
margin-right:15px;
}
.view-in-blocks .feed-user-bottom-details > div:last-child{
margin-right:0px;
}
.view-in-blocks .feed-user-bottom-details > div  > div:last-child{
margin-top:10px;
}
.view-in-blocks .feed-user-bottom-details .feed-btn{
padding:5px 15px;
}

.view-in-blocks .feed-user-bottom-details .share:hover{
background: #f34f4e;
}


.view-in-blocks .feed-user-bottom-details .feed-doc-btn >div{
padding:8px 35px;
}
.view-in-blocks .feed-user-bottom-details .changeCoverage > div{
margin-bottom: 15px;
}
.view-in-blocks .feed-user-bottom-details .changeCoverage > div:last-child{
margin-bottom:0px;
}
.related-feeds{
margin-top: 20px;
}

.view-in-blocks .feed-user-bottom-details .changeCoverage .center-icon{
position:absolute;
right:0;
margin:auto;
left:0;
top: 0;
}

.related-feeds .rel-feeds-title{
padding:10px 0px;
}

.related-feeds .rel-feeds-content{
margin-top:10px;
}

.policy-main-blk{
	max-height:185px;
	overflow:auto;
}

.policy-main-blk .insurance-policy-blk{
padding:10px 0px;
}

 .policy-main-blk  > div{
border-bottom:1px solid #b9b8b8;
}

.policy-main-blk > div:last-child{
border-bottom:none;
}

.policy-main-blk .insurance-policy-blk .policy-det-blk,.policy-main-blk .insurance-policy-blk  .policy-btn-blk{
width: 48%;
}

.policy-main-blk .insurance-policy-blk .policy-det-blk .policy-label{
display: inline-block;
cursor: pointer;
width: 100%;
}


.policy-label{
display: inline-block;
cursor: pointer;
width: 100%;
}

.policy-main-blk .insurance-policy-blk .policy-det-blk .policy-label:before {
		content: "";
		display: inline-block;
		width: 20px;
		height: 20px;
		background:#eeeeee;
		color: #f34f4e;
		text-align: center;
		border:1px solid #b9b8b8;
		vertical-align:top;
		margin-right: 10px;
}

.feed-label:before {
		content: "";
		display: inline-block;
		width: 20px;
		height: 20px;
		background: #eeeeee;
		color: #f34f4e;
		text-align: center;
		border: 1px solid #b9b8b8;
		vertical-align: top;
		margin-right: 10px;
		position: absolute;
		z-index: 9999;
		top: 0;
}
.policy-det-blk input[type=checkbox]:checked + .policy-label:before {
		content: "\2713";
		text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
		font-size: 15px;
		line-height: 20px;
		font-weight: bold;
		font-family: 'OpenSansRegular';
}

input[type=checkbox]:checked + .feed-label:before {
		content: "\2713";
		text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
		font-size: 15px;
		line-height: 20px;
		font-weight: bold;
		font-family: 'OpenSansRegular';
}




.policy-label .insurance-main-det{
width: 85%;
}

.policy-label .insurance-main-det .insurance-tit-blk > div:first-child{
margin-right:10px;
}

.policy-label .insurance-main-det .insurance-det-blk{
}

.policy-label .insurance-main-det .insurance-det-blk .ins-sub-det-group{

}

.policy-label .insurance-main-det .insurance-det-blk ul{
margin:0;
padding:0 0px 0px 5px;
}

.policy-label .insurance-main-det .insurance-det-blk ul{
   list-style: none;
}
.policy-label .insurance-main-det .insurance-det-blk ul li{
width: 85%;
}
.policy-label .insurance-main-det .insurance-det-blk ul li span, .policy-btn-blk .date-blk span{
color:#5B5B5B;
}


.policy-label .insurance-main-det .insurance-det-blk ul li:before {
content: "\00b7";
font-size: 50px;
padding-right: 5px;
line-height: 19px;
vertical-align: bottom;
display: inline-block;
color: #5B5B5B;
}

.policy-label .insurance-main-det .insurance-det-blk ul li span:nth-child(1){
width: 45%;
}


.ins-det-tit span:first-child{
margin-right: 20px;
}
.ins-det-tit span:last-child{
margin-left:10px;
}
.policy-btn-blk >div{
width:80%;
margin: auto;
}
.policy-btn-blk .date-blk span:nth-child(2){
margin:0px 5px;
}
.policy-btn-blk .date-blk, .policy-btn-blk .match-blk{
margin:5px 0px;
}
.policy-btn-blk .match-blk a {
width: 50%;
margin: auto;
padding: 5px 15px;
}

.policy-btn-blk .match-blk a:hover{
background: #f34f4e;
}


/*********** View Feeds ************/
/***** agencymyproflileview ***/
.ageny-img-width{
width:100%;
}
.agenyparent-class{
	position: relative;
	padding: 10px;
    }
	.agenyleft-profile{
	width: 10%;
	margin-right: 25px;
	}
	.agenyleft-image{
	padding: 5px;
	}
	.agenyright-profile{
	width: 85%;
    position: relative;
	}
	.agenytitle-block{
	color: #989898;
	font-size: 16px;
	margin-right: 15px;
	}
	.agenycontent-block{
	
	}
	.agenygroup-block{
	padding: 10px 0px;
	}
	.agenyinternal-block .agenygroup-block:last-child {
	border: none;
	}
	.agenypic-info{
	width: 108px;
	position: relative;
	overflow: hidden;
	}
	.agency-img-width{
	 width:100%;
	}
	
	.carrier-home-parent{
	padding: 0px;
	margin-bottom:5px;
	}
	.carrier-profile-screen{
	width:24%;
	margin-right:10px;
	margin-bottom: 13px;
	}
	.carrier-logo{
	width: 100%;
   /* height: 85px;*/
	}
	.carrier-info{
	width: 100%;
    /*height: 71px;*/
	}
	.carrier-name{
	color: #989898;
	font-size: 16px;
	/*margin-right: 15px;*/
	}
	.carrier-location{
	color: #989898;
	font-size: 16px;
	/*margin-right: 15px;*/
	}
	.carrier-email{
	color: #989898;
	font-size: 16px;
	/*margin-right: 15px;*/
	}
	.carrier-view{
	width: 100%;
   /* height: 25px;*/
   padding: 5px 0px;
	}
	.carrier-groupblock{
	padding:14px 0px;
	}
	.carrierlogo-pic{
	width: 160px;
	position: relative;
	overflow: hidden;
	margin: auto;
	}
	.carrier-img-width{
	width:100%;
	}
	.customer-home-parent {
	padding: 10px;
	}
	.customer-feed-screen{
	width:24%;
	margin-right:10px;
	margin-bottom: 10px;
	}
	.customer-feed-info{
	padding: 7px 7px;
	}
	.customer-feed-pic{
	width: 80px;
	height: 67px;
	background: #fff;/* 
	border: 2px solid #b9b8b8;
	color: #FFF; */
	text-align: center;
	margin-right:5px;
	}
	.customer-profile-info{
	
	}
	.customer-feed-view{
	width:100%;
	}
	


/************* Carrier View Page ********************/
.carrier-home-parent{
	padding: 10px;
	}
	.carrier-profile-screen{
	width:24%;
	/*height: 200px;*/
	margin-right:10px;
	}
	.carrier-logo{
	width: 100%;
   /* height: 85px;*/
	}
	.carrier-info{
	width: 100%;
    /*height: 71px;*/
	}
	.carrier-name{
	color: #989898;
	font-size: 16px;
	/*margin-right: 15px;*/
	}
	.carrier-location{
	color: #989898;
	font-size: 16px;
	/*margin-right: 15px;*/
	}
	.carrier-email{
	color: #989898;
	font-size: 16px;
	/*margin-right: 15px;*/
	}
	.carrier-view{
	width: 100%;
   /* height: 25px;*/
   padding: 5px 0px;
	}
	.carrier-groupblock{
	padding:14px 0px;
	}
	.carrierlogo-pic{
	width: 160px;
	position: relative;
	overflow: hidden;
	margin: auto;
	}
	.carrier-img-width{
	width:100%;
	}
	.customer-home-parent {
	padding: 10px;
	}
	.customer-feed-screen{
	width:24%;
	/*height: 200px;*/
	margin-right:10px;
	}
	.customer-feed-info{
	padding: 7px 7px;
	}
	.customer-feed-pic{
	width: 80px;
	height: 67px;
	background: #fff;
	border: 2px solid #b9b8b8;
	color: #FFF;
	text-align: center;
	margin-right:5px;
	}
	.customer-profile-info{
	width: 60%;
	}
	.customer-feed-view{
	width:100%;
	}
	.carrier-view-name{
	color: #989898;
	font-size: 16px;
	margin-right: 15px;
	}
   .carrier-view-id{
    color: #989898;
	font-size: 16px;
	margin-right: 15px;
   }
.carrier-view-parent{
overflow: hidden;
}

.carrier-view-auth{
padding: 15px 15px;
}
.carrier-logo-view{
width: 94%;
background-color: #eee;
margin-left: 15px;
}
.carrierlogo-viewpic{
position: relative;
overflow: hidden;
margin: auto;
width:175px;
padding: 19px 15px 15px 15px;
}
.carrier-view-social{
width: 96%;
padding: 15px 15px;
}
.carrier-view-website{
padding: 6px;
bottom: 8px;
margin-right: 6px;
width: 43%;
}
.carrier-view-facebook{
padding: 6px;
bottom: 8px;
margin-right: 6px;
width: 44%;
}
.carrier-website-name{
   
	font-size: 16px;
	margin-right: 15px;
}
.carrier-facebook-name{
    
	font-size: 16px;
	margin-right: 15px;
}

.carrier-view-info1{
/*width:100%;*/
margin-left: 15px;
}
.carrier-view-info2{
width:100%;
}
.carrier-info-left{
padding: 10px 0px 15px 30px;
}
.carrier-info-right{
padding: 20px 10px 10px 10px;
}
.carrier-info-left-name{
     font-size: 16px;
	margin-right: 15px;
}

.carrierinternal-block{
margin-top: 36px;
padding: 0px 20px;
}
.carrier-group-block{
padding: 10px 10px 10px 30px;
}
.carrier-view-block{
width:95%;
margin: auto;
}
.carrier-view-left{
width:50%;
}
.carrier-view-right{
width:50%;
}
.carrier-left-width{
width:100%;
 font-size: 16px;
	color: #989898;
}
.carrier-left-title{
width:45%;
}
.carrier-left-content{
	width:45%;
	 font-size: 16px;
	margin-right: 15px;
	color: black;
}
.carrier-view-rightblock{
width:74%;
/*padding:26px 0px 0px 0px;*/
}
.carrier-view-leftbloack{
width:25%;
}
.carrier-border-view{
padding: 10px 0px;
}

/************ Associated Carrier view related feed ********/
.associated-carrierview{
width:100%;
padding: 20px 0px;
}
.associated-carrier-sort{
font-size: 16px;
margin-right: 15px;
color: #989898;
}
.associated-carrier-feed{
padding:10px 0px;
}
.associated-carrier-pic{
width: 80px;
margin: auto;
position: relative;
padding: 10px 9px;
}
.carrier-feed-associated-view{
padding: 25px 0px;
margin-right: 15px;
}
.associated-cus-info{
padding: 0px 5px;
}
/******* customer profile view *****/
.customer-view-feed{
width: 13%;
/*padding: 15px 0px;*/
}
.customer-logo-view{
width: 100%;
margin-left: 8px;
margin-top: -41px;
}
.customerlogo-viewpic {
position: relative;
overflow: hidden;
margin: auto;
}
.customer-view-name{
padding: 8px 0px 0px 0px;
}
.customer-view-policy{
font-size: 16px;
color: #989898;
/*padding: 10px 0px;*/
width: 25%;
}
.customer-policy-button{
width: 12%;
padding: 5px 4px 5px 5px;
}
.customer-view-button{
padding: 15px 15px 27px 15px;
width: 100%;
}
.customer-border-view {
padding: 15px 0px 0px 0px;
}
.customer-view-block {
width: 95%;
margin: auto;
}
.customer-view-mbapp{
right: -251px;
}
.carrier-mobile-icon{
	background-position: -83px -80px;
	width: 10px;
	height: 18px;
}
/***** settings page *****/
.app-link{
font-size: 16px;
color: black;
}
.app-download-bar{
width: 78%;
padding: 10px 0px;
margin-right: 15px;
font-size: 16px;
color: #989898;
}
.send-app-bar{
padding: 10px 0px;
width: 20%;
}
.app-parent{
padding: 15px 0px;
}
.settings-click-button{
width: 100%;
padding: 40px 0px 0px;
}
.settings-agency-bar{
width: 10%;
padding: 5px 0px;
margin-right: 0px;
}
.settings-vendor-bar{
width:12%;
padding: 5px 0px;
}
.settings-edit-bar{
width: 7%;
padding: 5px 0px;
}
.settings-view-leftblock {
width: 20%;
}
.settings-view-auth {
padding: 10px 18px;
}
.settingslogo-viewpic {
position: relative;
/*overflow: hidden;*/
margin: auto;
/*width: 175px;*/
/* padding: 19px 15px 15px 15px; */
}
.settings-view-social {
width: 97%;
padding: 10px 15px;
}
.settings-view-website {
padding: 5px 5px;
margin-bottom: 10px;
width: 94%;
}
.settings-view-facebook {
padding: 6px;
margin-bottom: 10px;
width: 94%;
}
.settings-view-rightblock {
width: 79%;
}
.settings-logo-view {
width: 94%;
background-color: #eee;
margin-left: 15px;
}
.container-maxwidth{
margin-bottom: 20px;
min-height: 500px;
margin-top: 15px;
max-height: 100%;
overflow: auto;
}
.customer-feed-screen:hover .customer-feed-view{
background:#f34f4e;
}
.carrier-profile-screen:hover  .carrier-view{
background:#f34f4e;
}
.settings-agency-bar:hover{background:#f34f4e;}
.settings-vendor-bar:hover{background:#f34f4e;}

/**************** Overlay Contents ***********************/
/********* ***********Added by Manoj *********************/

/************Push Message***********************************/

.c-textarea{
    height: 100px !important;
}


.textarea{
    height: 100%;
    background-color: #fff;
    color: black;
}

.select-date-icon{

}
/***********************************************************/


/************************Agency Profile Styles************/

.header-panel{
    width: 93%;
    height: 50px;
    margin: 0px 18px;
    margin-bottom: 20px;
}

.left-content-panel{
    width: 40%;
    height: 50px;
    line-height: 50px;
}
.right-content-panel{
    width: 40%;
    height: 50px;
    line-height: 50px;
}


.browse-button-content{
    height: 30px;
    width: 15%;
    background-color: green;
    top: 14px;
    right: 33px;
    line-height: 30px;
    text-align: center;
}



.carriers-left-content{
    width: 45%;
    padding: 5px;
    height: 150px;
    min-width: 100px;
    margin-left: 8px;
}
.carriers-right-content{
    width: 45%;
    padding: 5px;
    height: 150px;
    min-width: 100px;
    margin-left: 19px;
}


.carriers-right-content .c-agency-logo{
    height: 45px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
}
.carriers-right-content .c-agency-logo .txt-agency-logo-name{
    background-color: #ffffff;
    font-style: italic;
    font-size: 14px;
    color: #333;
}
.txt-agency-logo-name{
    width: 60%;
}

.carriers-right-content .c-agency-name .txt-agency-name{
    background-color: #ffffff;
    font-style: italic;
    font-size: 14px;
    color: #333;
}

.carriers-right-content .c-agency-emailid .txt-agency-emailid{
    background-color: #ffffff;
    font-style: italic;
    color: #333;
}

.carriers-right-content .c-agency-name{
    height: 44px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    background-color: #ffffff;
}

.carriers-right-content .c-agency-emailid{
    height: 46px;
    border: 1px solid #ccc;
}

.carriers-left-content .profile-pic-content{
    width: 100%;
    height: 150px;
    /* padding: 5px; */
    border: 1px solid #CCC;
}
.carriers-left-content .profile-pic-content > div{
    width:80%;
    margin:auto;
}

.carriers-left-content .profile-pic-content .agency-pic-text {
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
}

.agency-logo,.agencyprofilelogo{
    text-align: center;
    height: 70%;
    top: 15px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    background-size: cover;
    background-position: center; 
}

#id-agencyprofilelogo{
    height: 100%;
    width: 100%;
    max-width:  300px;
    max-height:  500px;  
}

.carriers-left-content,.carriers-right-content{
    width: 45%;
    height: 150px;
}

.carriers-right-content .c-agency-logo{
    height: 45px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
}
.carriers-right-content .c-agency-logo .txt-agency-logo-name{
    background-color: #ffffff;
    font-style: italic;
    font-size: 14px;
    color: #333;
}

.carriers-right-content .c-agency-name .txt-agency-name{
    background-color: #ffffff;
    font-style: italic;
    font-size: 14px;
    color: #333;
}

.carriers-right-content .c-agency-emailid .txt-agency-emailid{
    background-color: #ffffff;
    font-style: italic;
    /* font-size: 14px; */
    color: #333;
}

.carriers-right-content .c-agency-name{
    height: 44px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    background-color: #ffffff;
}


.carriers-right-content .c-agency-emailid{
    height: 46px;
    border: 1px solid #ccc;
}

.o-btn {
    width: 20%;
    height:42px;
    line-height:40px;
    position:relative;
    margin: 20px auto;
    text-align: center;
}

/*****************Agency Profile Styles Ends Here *******/


/*****************Share With Rep Styles ************************/
.none-1,.none-2{
    width: 71%;
}

.dropdown-icon{
    top: 16px;
    /* right: 12px; */
}
.range-box{
    margin-top: 10px;
}

.range-title{
    height:40px;
    line-height:38px;
    margin:0px 0px;
}
.range-sel1 {
    width: 30%;
    margin: 0px 0px 0px 15px;
}
.time-dropdown-1{
    width: 46%;
    margin: 0px 0px 0px 15px;
}
.push-select-dropdown{
    width: 49%;

}
.time-dropdown-2{
    width: 30%;
    margin: 0px 0px 0px 27px;
}
.range-sel2 {
    width: 40%;
    margin:0px 0px;
    margin-left: 10px;
}

.drop-down-icon-1{
    right: 10px;
    /* margin-right: -32px; */
}
.drop-down-icon-2{
    right: 10px;

}

.rep-block{
    margin:15px 0px 10px 0px;
}
.rep-block .rep-title-blk{
    padding-bottom:10px;
    margin-bottom:5px;
    border-bottom:1px solid #b9b8b8;
}

.rep-block .rep-content-blk{
    overflow:auto;
    max-height:200px;
}

.rep-block .rep-content-blk .rep-grp-blk{
    padding: 10px 5px;
}

.rep-block .rep-content-blk .rep-grp-blk .rep-name{
    margin-left:15px;
}

.rep-label .lbl-in-block{
    display: inline-block;
    width: 95%;
}

.checkbox{
    width:10px;
    height:10px;
}

.rep-label{
    display: inline-block;
    cursor: pointer;
    width: 95%;
}

.rep-label:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #fff;
    color: #333;
    text-align: center;
    border:1px solid #b9b8b8;
    border-radius: 3px;
}
.rep-grp-blk input[type=checkbox]:checked + .rep-label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    line-height: 15px;
}
/*****************Share With Rep Styles Ends Here****************/

/*****************Send app link to customers styles ************************/







/*****************Send app link to customers styles Ends Here****************/



/*********Ends Here ******** ****** Added by Manoj **************/

.enable-text{
    margin-bottom: 15px;
}
.nameRepId{
    margin-left: 145px;
    text-align: center;
}

.delivery-box{
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #c8d2d5;
}
.select-date-content{
    width: 47%;
}

.select-date-content .date-content{
    border: 1px solid #CCC;
    padding: 5px;
    width: 36%;
}
.time-content{
    width: 53%;
    /* margin-left: 19px; */
}

.time-content .time{
    width: 10%;
    line-height: 39px;
}
.later-box{
    margin-top: 15px;
    margin-bottom: 15px;
}

.time-content .time-dropdown{
    border: 1px solid #CCC;
    padding: 5px;
    width: 30%;
    margin-right: 11px;
}

.time-content .am-pm-dropdowm{
    border: 1px solid #CCC;
    padding: 5px;
    width: 20%;
}

.delivery-time,.select-date{
    width: 38%;
    margin-bottom: 15px;
    line-height: 33px;
}
.push-drop-down-icon-1{
    /* width: 17px; */
    /* height: 9px; */
    top: 14px;
    height: 28px;
    left: 129px;
    width: 32px;
}

.push-drop-down-icon-2{
    top: 14px;

    right: 8px;
}

.deliverytime-content {
    width: 60%;

}
.deliverytime-content .now{
    width: 45%;
}



.agency-prof-overlay-header .manageAgency {
    top: 20%;
    bottom: 20%;
    right: 0;
    margin: auto;
}

.carriers-left-content .profile-pic-content{
    width: 100%;
    height: 150px;
    /* padding: 5px; */
    border: 1px solid #CCC;
}
.carriers-left-content .profile-pic-content > div{
    width:80%;
    margin:auto;
}

.carriers-left-content .profile-pic-content .agency-pic-text {
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
}

.carriers-left-content .profile-pic-content .profile-pic-icon{
    background-position: -71px -602px; 
    width: 45%;
    height: 50%;
}

.uparrow{
    width: 1px; 
    left: 85%;
    top: -5px;
    /* color: #ffffff; */
    height: 0px; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ffffff;
}

.none-1,.none-2{
    width: 71%;
}

.dropdown-icon{
    /* top: 14px; */
    /* left: 62px; */
    /* height: 10px; */
    /* width: 12px; */
}
.range-box{
    margin-top: 10px;
}

.alert-mess-text{
    margin-top:50px;
}


.left-sub-content,.right-sub-content{
    width: 48%;
}

.sortby-content,.profile-content{
    padding: 10px 5px;
    position: relative;
    /* margin-top: 10px; */
}
.sortby-content .recent {
    padding: 5px;
    text-align: left;
    height: 25px;
    line-height: 25px;
    margin-left: 5px;
}


.sortby-content > div:hover{
    color: #379ba2;
    background-color: #CCC;
}

.profile-content > div:hover{
    color: #379ba2;
}

.sortby-content .alphabetical {
    padding: 5px;
    text-align: left;
    height: 25px;
    line-height: 25px;
    margin-left: 5px;
}

.profile-content .myprofile,.profile-content .settings,.profile-content .log-out,.profile-content .help{
    padding: 5px;
    text-align: left;
    height: 25px;
    line-height: 25px;
    margin-left: 5px;
}


.spinner .spin-class{
    width: 125px;
    height: 125px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.spinner .spin-class img{
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    width:100%;
}

.alert-mess-text, .invite-reps-text, .text-color-overlay{
    color: #5c5c5c;
}

.alert-mess-text{
    margin-top:50px;
}



.text-box-outer{
    height: 38px;
    border:1px solid #b9b8b8;
    /* margin:20px 0px; */
    /* background-color: #101010; */
}
.text-box-outer input{
    background:#fff;
    color:#b4b4b4;
    text-indent:15px;	
}
.range-color,.location-color{
    color:#b4b4b4;
}
.text-box-outer input::-webkit-input-placeholder {
    color:#b4b4b4;
}
.text-box-outer input:-moz-placeholder {
    color:#b4b4b4;
    opacity:  1;
}
.text-box-outer input::-moz-placeholder {
    color:#b4b4b4;
    opacity:  1;
}
.text-box-outer input:-ms-input-placeholder {
    color:#b4b4b4;
}

.textBox-placeholder-italic input::-webkit-input-placeholder {
    font-style:italic;
}
.textBox-placeholder-italic input:-moz-placeholder {
    font-style:italic;
}
.textBox-placeholder-italic input::-moz-placeholder {
    font-style:italic;
}
.textBox-placeholder-italic input:-ms-input-placeholder {
    font-style:italic;
}


.policy-group{
    margin:10px 0px;
}

.policy-group .policy-title{
    width:30%;
}

.policy-group .policy-value{
    width:65%;
}
.range-title{
    height:40px;
    line-height:38px;
    /* margin:0px 0px; */
    margin-right: 16px;
}
.range-sel1 {
    width: 31%;
    margin:0px 10px 0px 15px;
}
.range-sel2 {
    width: 48%;
    margin:0px 0px;
    /* margin-left: -3px; */
}
.rep-block{
    margin:15px 0px 10px 0px;
}
.rep-block .rep-title-blk{
    padding-bottom:10px;
    margin-bottom:5px;
    border-bottom:1px solid #b9b8b8;
}

.rep-block .rep-content-blk{
    overflow:auto;
    max-height:200px;
}

.rep-block .rep-content-blk .rep-grp-blk{
    padding: 10px 5px;
}

.rep-block .rep-content-blk .rep-grp-blk .rep-name{
    margin-left:15px;
}

.rep-label .lbl-in-block{
    display: inline-block;
    width: 95%;
}

/* input[type=checkbox]:checked + label:before {  
    content: "\2713";  
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
    font-size: 15px;  
    color: #333;  
    text-align: center;  
    line-height: 15px;  
}  */ 

.checkbox{
    width:10px;
    height:10px;
}

.rep-label{
    display: inline-block;
    cursor: pointer;
    width: 95%;
}

.rep-label:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #fff;
    color: #333;
    text-align: center;
    border:1px solid #b9b8b8;
    border-radius: 3px;
}
.rep-grp-blk input[type=checkbox]:checked + .rep-label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    line-height: 15px;
}

.spanCLassElement{
    margin: 15px 20px;
    padding-bottom: 10px;
}

/**************** Overlay Contents ***********************/








.myshare{float: left;width:50%;}
.myview{float: left;width:50%;}
.inner-share-spacing{background: #379ba2;margin-right: 5px;padding:5px;cursor:pointer;}
.inner-share-spacing:first-child{margin-right: 5px;padding:5px; }
.inner-share-spacing:hover{background: #f34f4e;}
.inner-view-spacing{background: #379ba2;margin-left: 5px;padding:5px;cursor:pointer; }
.inner-view-spacing:hover{background: #f34f4e;}


@media all and (max-width: 1070px) {
.feed-user-share-b{margin-left: 15%;margin-top: 10px;}
}


@media all and (max-width: 1090px) {
.tab-rb-submenu > div .submenu-tab {padding:0px 10px !important;}
}

@media only screen and (min-width: 850px) and (max-width:950px){
.tab-rb-submenu > div .submenu-tab {padding:0px 5px !important;}
.submenu-sort{margin-left:0px;}
}

@media only screen and (min-width: 950px) and (max-width:1050px){
.tab-rb-submenu > div .submenu-tab{
padding: 0px 10px !important;
font-size: 16px;
}
.submenu-sort{margin-left:0px;}

.docs-block a{margin-right: 35px;}
.feed-addRemove-text{font-size: 13px;}
.feed-user-share-b{width:30% !important;}
}

@media all and (max-width: 850px) {
.tab-rb-submenu > div .submenu-tab{
padding: 0px 10px !important;
font-size: 16px;
}
}


@media all and (max-width: 1350px) {
.m-width{
width:100%;
margin:auto;
}

footer  .foot-in{
line-height:42px;
width: 95%;
margin: auto;
}

.ctrl-blk{padding:0px 25px;}

.w-pad{
width:100%;
margin:auto;
}
.search-blk{
width: 75%;
float: left;
}
.searchbox-holder{
width: 100%;
}
.lf-block {
width: 70%;
}

.rg-block {
width: 30%;
}
.logged-user-info {
/*width: 75%;*/
}
.logged-user-info .user-info > div{
width: 100%;
}

.agency-details .agency-name-details {
width: 45%;
}

.agency-details .agency-name-details .agency-name{
font-size:16px;
}
.agency-details .agency-name-details .agency-email{
font-size:14px;
}
.agency-details .agency-pic-box{
margin-right: 15px;
}
.feed-user-share-b{
width:25%;
}
.feed-user-share-b a:first-child {
margin-right: 0px;
margin-bottom: 5px;
}
.feed-user-share-b .feed-btn{
width: 75%;
}
.feed-user-det-b .bot-b .feed-date, .feed-user-det-b .bot-b .feed-location, .feed-user-det-b .bot-b .cust-phone, .feed-user-det-b .bot-b .cust-email{
margin: 0px 12px;
}




}





@media all and (max-width: 1200px) {
.mb-submenu-in{
width:100%;
}

.bcrum-lb-submenu  a:last-child{
font-size:13px;
}
.mb-submenu .mb-submenu-in >div:last-child{
/*width: 70%;*/
}
.mb-submenu .mb-submenu-in >div:first-child{
/*width:30%;*/
}
.tab-rb-submenu > div .submenu-tab{

}


.feed-block .feed-det .feed-det-pad .feed-pic-b{
margin-right: 10px;
}

.feed-user-det-b .bot-b .feed-date, .feed-user-det-b .bot-b .feed-location, .feed-user-det-b .bot-b .cust-phone, .feed-user-det-b .bot-b .cust-email {
margin: 0px 2px;

}




}

@media all and (max-width: 1000px) {
.search-blk{
/*width:70%;*/
}
.logged-user-info .user-info > div{
width:100%;
font-size:14px;
}

.agency-details .agency-pic-box{
width: 40%;
}



}

@media all and (max-width: 850px) {

.search-blk {
/*width: 60%;*/
}
.logged-user-info .user-info > div >span:last-child{
display:none;
}


@media all and (max-width: 600px) {

.search-blk {
width: 55%;
}
.logged-user-info{
border:none;
width:60px;
right: -60%;
}
.logged-user-info  > div {
float:none;
}

.logged-user-info :nth-child(n+2){
display:none;
}


}

@media all and (max-width: 500px) {
.search-blk {
width: 50%;
}


}

    /*********************Media Query ********* Added By Manoj**************************************/

    @media screen and (max-width: 600px) {
        .o-box {
            width: 40%;
        }
    }


    /*********************Media Query Ends *** Added By Manoj**************************************/
}






