html,body {
margin:0px;
padding:0px;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
transition: 0.5s;
}
body{
position:relative;
z-index:1;
}
body{
font-size:15px;
}

.body-bg-color{
background:#E9EFF0;
}

input[type=checkbox] {
	display: none;
}
input[type=checkbox] + label {  
   cursor:pointer; 
}
input, textarea {
border:none;
outline:none;
padding:0;
margin:0;
width:100%;
background: #7c7c7c;
color:#Fff;
border-radius: 0px;
}
textarea {
resize: none;
}
p {
margin:0px;
padding:0px;
}
h1,h2,h3,h4,h5,h6{
margin:0;
padding:0;
}
h1, h2, h3, h4, h5, h6 {
font-weight:normal;
}
a {
color: #333;
text-decoration: none;
}
*::-webkit-input-placeholder {
    color: #FFF;
}
*:-moz-placeholder {
    color: #FFF;
}
*::-moz-placeholder {
    color: #FFF;
}
*:-ms-input-placeholder {
    color: #FFF;
}
.block {display:block}
.inline-block {display:inline-block;}
.p-relative {position:relative;}
.p-absolute {position:absolute;}
.left {float:left;}
.right {float:right;}
.clr-fl{overflow:auto;position:relative;}
.t-center {text-align:center;}
.t-left{text-align:left;}
.t-right{text-align:right;}
.display-none {display:none !important;}
.opacity-0 {opacity:0;}
.noscroll{overflow:hidden !important;}
.pointer{cursor:pointer;}

.bg-color-green{background: #379ba2;}
.bg-color-red,.selected-tab{background: #f34f4e;}
.bg-color-dblue{background: #c8d2d5;}
.anim {
-webkit-transition:  0.25s ease-in-out;
-ms-transition:  0.25s ease-in-out;
-moz-transition: 0.25s ease-in-out;
-o-transition: 0.25s ease-in-out;
transition: 0.25s ease-in-out;
}

.anim-opacity {
-webkit-transition-property: opacity;
-ms-transition-property: opacity;
-moz-transition-property: opacity;
-o-transition-property: opacity;
}

.defaultFont, input, textarea, select {font-size: 15px;}
input, select, textarea {
font-family: "OpenSansLight", helvetica, Arial;
-webkit-font-smoothing: antialiased;
-webkit-appearance: none;
-moz-appearance: none;
border: none;
border: 0;
outline: none;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
width: 100%;
height: 38px;
padding: 7px;
outline: 0;
}

.f-color-red, .alert-color{color: #f34f4e;}
.f-color-green{color: #379ba2;}
.f-color-w{color:#fff;}
.bold{font-weight:bold;}
.f-sz-20{font-size:20px;}
.f-sz-18{font-size:18px;}
.f-sz-17{font-size:17px;}
.f-sz-16{font-size:16px;}
.f-sz-14{font-size:14px;}
.f-sz-13{font-size:13px;}
.f-sz-12{font-size:12px;}
.f-italic{font-style:italic;}
.v-align-bot{vertical-align:bottom;}
.v-align-t-bot{vertical-align:text-bottom;}
.v-align-mid{vertical-align:middle;}
.v-align-top{vertical-align:top;}
.t-upper{text-transform: uppercase;}
.t-caps{text-transform:capitalize;}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.border-all{
border:1px solid #b9b8b8;
}
.border-top{
border-top:1px solid #b9b8b8;
}
.border-bot{
border-bottom:1px solid #b9b8b8;
}

.m-width{
max-width:1300px;
margin: auto;
}
.w-pad{
width:100%;
margin:auto;
}
.lf-block{
width: 68%;
padding-right: 16px;
overflow: hidden;
}
.rg-block{
width: 28%;
overflow: hidden;
}
.header-left-panel > div{
margin-top: 15px;
}
.logo{
height: 53px;
}

.logo-holder{
width:100%;
height: 53px;
overflow: hidden;
position: relative;
/* background: #CCC; */
color: #FFF;
text-align: center;
max-height: 53px;
}

.logo-info-blk{
max-height: 90px;
margin:20px auto 15px auto;
overflow: hidden;
}

.search-blk{
margin-left: 20px;
position: relative;
}
.searchbox-holder{
width:738px;
border:1px solid #b9b8b8;
position: relative;
}

.search-ip {
    height: 53px;
    width: 100%;
    font-size: 16px;
    background: #EBF0F1;
    color: #7a7a7a;
	padding: 10px;
}
.search-ip::-moz-placeholder {
font-style:italic !important; color:#b9b8b8 !important;
}
.search-ip::-webkit-input-placeholder {
font-style:italic !important; color:#b9b8b8 !important;
}
.search-ip:-ms-input-placeholder {
font-style:italic !important; color:#b9b8b8 !important;
}
.search-ip:-moz-placeholder {
font-style:italic !important; color:#b9b8b8 !important;
}
.logged-user-info{
width: 362px;
border:1px solid #b9b8b8;
margin-top: 15px;
height: 53px;
text-align: left;
display:block;
overflow:hidden;
}
.logged-user-info >div:first-child{
margin-right: 10px;
}
.sprite-im{
background:url('../images/sprite_images_icon.png') no-repeat;
}

.logged-user-info >div{
line-height:53px;
}

.logged-user-info .user-pic-box {
width: 60px;
height:53px;
overflow:hidden;
position: relative;
background: #CCC;
color: #FFF;
text-align: center;
max-height: 55px;
}

.logged-user-info .user-pic-box  > img {
height: 53px;
vertical-align: top;
}

.logged-user-info .user-drop-icon{
position: absolute;
top: 20px;
right: 25px;
}
.logged-user-info .user-info{
width:auto;
}
.logged-user-info .user-info > div {
width: 250px;
}


/************* Icons *********************/
.mobile-icon{
	background-position: -83px -80px;
	width: 8px;
	height: 18px;
}

.map-icon{
	background-position:-40px -210px;
	width: 11px;
	height: 18px
}

.calendar-icon{
	background-position:-11px -211px;
	width: 15px;
	height: 18px;
}

.phone-icon{
	background-position:-70px -211px;
	width: 15px;
	height: 18px;
}

.email-icon{
	background-position:-10px -247px;
	width: 18px;
	height: 18px;
}

.share-icon{
	background-position:-79px -46px;
	width: 17px;
	height: 17px
}

.view-icon{
	background-position:-8px -84px;
	width: 21px;
	height: 11px;
}

.message-green-icon{
	background-position:-47px -232px;
	width: 48px;
	height: 33px;
}

.rep-icon{
	background-position:-48px -83px;
	width: 13px;
	height: 12px;
}

.drop-down-icon{
	background-position: -41px -312px;
	width: 17px;
	height: 9px;
}

.feeds-icon{
	background-position:-4px -7px;
	width: 27px;
	height: 20px;
}

.home-icon{
	background-position: -40px -8px;
	width: 29px;
	height: 24px;
}
.carriers-icon{
	background-position:-7px -41px;
	width: 25px;
	height: 24px;
}
.customers-icon{
	background-position:-45px -41px;
	width: 24px;
	height: 24px;
}
.myreps-icon{
	background-position:-80px -5px;
	width: 17px;
	height: 24px;
}
.text-icon{
	background-position:-12px -275px;
	width: 18px;
	height: 20px;
}
.photos-icon{
	background-position:-41px -275px;
	width: 18px;
	height: 20px;
}

.voice-icon{
	background-position:-71px -276px;
	width: 14px;
	height: 20px;
}

.close-icon{
	background-position:-4px -115px;
	width: 36px;
	height: 36px;
}

.print-icon{
	background-position:-54px -114px;
	width: 37px;
	height: 36px;
}

.download-icon{
	background-position:-3px -163px;
	width: 36px;
	height: 36px;
}

.copy-icon{
	background-position:-55px -163px;
	width: 37px;
	height: 36px;
}

.home-blue-icon{
	background-position:-7px -306px;
	width: 23px;
	height: 21px;
}

/************* Icons *******************/




/********** Main Menu ******************/
.m-block {

/* width: 100%; */
}

.m-block > div{

}

.m-block .lf-block{
border-bottom: 1px solid #b9b8b8;
padding-bottom: 15px;
}

.m-block .rg-block{
border-bottom: 1px solid #b9b8b8;
padding-bottom: 15px;
}

.m-block .mb-menu {
position: relative;
height: 85px;
line-height: 85px;
width: 100%;
z-index: 101;
display: block;
overflow: hidden;
margin-bottom:16px;
}

.m-block .mb-menu > a{
width: 20%;
position: relative;
max-height: 85px;
color: #FFF;
}
.m-block .mb-menu > a .menu-center{
display: inline-block;
vertical-align: middle;
max-height: 55px;
}

.m-block .mb-menu > a .menu-center .menu-icon{
margin:auto;
position: relative;
}
.m-block .mb-menu > a .menu-center .menu-text{
position: relative;
top: -25px;
}
/*********** Main Menu ***************/

/************* Agency Info *******************/
.agency-info{
height: 110px;
max-height:110px;
padding:15px;
width: auto;
}
.agency-info a{
display:block;
width:100%;
overflow:hidden;
}

.agency-pic-box{
width:120px;
height:106px;
margin-right:26px;
position:relative;
overflow:hidden;
background: #fff;
}

.agency-pic-box img{
position:absolute;
top:0;
bottom:0;
left:0;
right:0;
margin:auto;
width: 100%;
}

.agency-name-details {
margin-top: 20px;
line-height: 30px;
}
/*********** Agency Info ***********************/


/************* Sub Menu **************************/
.mb-submenu .mb-submenu-in  >div:first-child{
width:30%;
line-height: 39px;
}
.mb-submenu .mb-submenu-in  >div:last-child{
width:70%;
}


.mb-submenu .mb-submenu-in .bcrum-lb-submenu a{
/* margin-right:5px; */
}
.mb-submenu .mb-submenu-in .bcrum-lb-submenu a:last-child{
/* margin-right:0px; */
}

.tab-rb-submenu {
overflow: hidden;
}

.mr-space-10{
margin-right:10px;
}
.mt-space-ic{
margin-top: 7px;
}
.bcrum-icon-blk{
margin:0px 10px;
}

.tab-rb-submenu > div .submenu-tab{
margin-right:2px;
height:39px;
display: block;
padding:0px 20px;
line-height: 38px;
color: #fff;
}

.submenu-tab >span:first-child{
text-transform:capitalize;
}
.submenu-sort{
padding: 0px 15px;
border: 1px solid #b9b8b8;
width: 125px;
max-height: 37px;
overflow: hidden;
height: 37px;
margin-left: 15px;
}

.submenu-sort .submenu-drop-icon{
position:absolute;
right: 15px;
top:15px;
}
.submenu-sort  .sort-text{
line-height: 37px;
}
/*********** Sub Menu *****************************/



/****************** Footer *********************/
footer{
width:100%;
height:42px;
max-height:42px;
}
footer  .foot-in{
line-height:42px;
width: 95%;
margin: auto;
}
.foot-rb .foot-nav{
overflow:hidden;
}
.foot-nav a {
display: inline-block;
margin: 0px 10px;
line-height: 15px;
border-right: 2px solid #7a7a7a;
padding-right: 20px;
}
.foot-nav a:last-child{
border-right: none;
}


/**************** Footer *****************************/

/********** Content Section **************************/
.container{
margin-bottom:20px;
min-height:500px;
margin-top: 15px;
max-height: 250px;
overflow: auto;
}

.container .content-holder{
/* overflow:auto; */
}

/*************** Feeds *********************/
.feed-block{
width:100%;
margin-bottom:16px;
}

.feed-block .feed-det{
height: 100%;
min-height: 85px;
}

.feed-block .feed-det .feed-det-pad{
padding:8px;
}
.feed-block .feed-det .feed-det-pad .feed-pic-b{
margin-right: 15px;
}

.feed-block .feed-det .feed-det-pad .feed-pic-b .feed-user-pic-box{
width: 80px;
height: 67px;
position: relative;
overflow: hidden;
background: #fff;
border:2px solid #b9b8b8;
color: #FFF;
text-align: center;
}

.feed-block .feed-det .feed-det-pad .feed-pic-b .feed-user-pic-box img{
width:100%;
}

.feed-user-det-b {
width: 60%;
}

.feed-user-det-b  .top-b {
margin-bottom: 10px;
}

.feed-user-det-b  .top-b .mobile-icon-pos{

}

.feed-user-det-b  .top-b .cust-name{
margin:0px 10px;
color:#585858;
}

.feed-user-det-b  .top-b .feed-time{
color: #939393;
margin: 0px 20px 0px 0px;
}
.feed-user-det-b  .top-b .alert-type{
margin: 0px 10px 0px 0px;
}
.feed-user-det-b  .top-b .rep-name{
color:#4f4b4b;
}

.feed-user-det-b  .bot-b .feed-date, .feed-user-det-b  .bot-b .feed-location, 
.feed-user-det-b  .bot-b .cust-phone, .feed-user-det-b  .bot-b .cust-email{
margin:0px 30px 0px 15px;
color:#4c4c4c;
}
.no-right-margin{
margin-right:0 !important;
}
.feed-user-share-b{
width: 25%;
position: relative;
margin-left: 20px;
}

.feed-user-share-b .feed-btn{
padding: 0px 15px;
height:30px;
color:#fff;
}
.feed-user-share-b a:first-child{
margin-right:15px;
}

.feed-user-share-b .feed-btn .feed-menu-text{
margin-left:10px;
}

.feed-user-share-b .feed-btn .mid-align{line-height:25px;}

.docs-block{
/* width:70%;
margin:auto; */
}

.docs-block a{
margin-right:60px;
}

.docs-block a:last-child{
margin-right:0
}


.feed-docs .doc-icon-box {
height: 40px;
position: relative;
display: block;
width: 35px;
background:#fff;
border: 1px solid #379ba2;
border-radius:30%;
margin-bottom:10px;
z-index:102;
}
.feed-docs .doc-icon-box .doc-icon-placement, .feed-docs .doc-cnt-box .doc-count-placement{
left: 0;
right: 0;
margin: auto;
top: 0;
bottom: 0;
position:absolute;
}
.feed-docs .doc-cnt-box {
height: 25px;
position: absolute;
display: inline-block;
width: 25px;
background: #379ba2;
border-radius: 30%;
color: #fff;
left: -19px;
top: 7px;
}
.feed-docs-pad {
padding: 8px;
}

.feed-det .feed-addRemove-block{
line-height: 70px;
}

/************** Feeds ********************/



/********** Content Section *************************/


/**************** Overlay Contents ***********************/
.alert-mess-text, .invite-reps-text, .text-color-overlay{
    color: #5c5c5c;
}

.alert-mess-text{
margin-top:50px;
}

.o-btn {
    width: 20%;
	height:42px;
	line-height:40px;
	position:relative;
	margin: 20px auto;
}

.text-box-outer{
height:40px;
border:1px solid #b9b8b8;
margin:20px 0px;
}
.text-box-outer input{
background:#fff;
color:#b4b4b4;
}
.range-color,.location-color{
color:#b4b4b4;
}
.text-box-outer input::-webkit-input-placeholder {
    color:#b4b4b4;
}
.text-box-outer input:-moz-placeholder {
   color:#b4b4b4;
   opacity:  1;
}
.text-box-outer input::-moz-placeholder {
   color:#b4b4b4;
   opacity:  1;
}
.text-box-outer input:-ms-input-placeholder {
   color:#b4b4b4;
}

.textBox-placeholder-italic input::-webkit-input-placeholder {
    font-style:italic;
}
.textBox-placeholder-italic input:-moz-placeholder {
   font-style:italic;
}
.textBox-placeholder-italic input::-moz-placeholder {
  font-style:italic;
}
.textBox-placeholder-italic input:-ms-input-placeholder {
   font-style:italic;
}


.policy-group{
margin:10px 0px;
}

.policy-group .policy-title{
width:30%;
}

.policy-group .policy-value{
width:65%;
}
.range-title{
height:40px;
line-height:38px;
margin:0px 0px;
}
.range-sel1 {
width: 30%;
margin:0px 10px 0px 15px;
}
.range-sel2 {
width: 40%;
margin:0px 0px;
}
.rep-block{
margin:15px 0px 10px 0px;
}
.rep-block .rep-title-blk{
padding-bottom:10px;
margin-bottom:5px;
border-bottom:1px solid #b9b8b8;
}

.rep-block .rep-content-blk{
overflow:auto;
max-height:200px;
}

.rep-block .rep-content-blk .rep-grp-blk{
padding: 10px 5px;
}

.rep-block .rep-content-blk .rep-grp-blk .rep-name{
margin-left:15px;
}


/* input[type=checkbox]:checked + label:before {  
    content: "\2713";  
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
    font-size: 15px;  
    color: #333;  
    text-align: center;  
    line-height: 15px;  
}  */ 
 */
.checkbox{
width:10px;
height:10px;
}

.rep-label{
display: inline-block;
cursor: pointer;
width: 95%;
}

.rep-label:before {
		content: "";
		display: inline-block;
		width: 15px;
		height: 15px;
		background: #fff;
		color: #333;
		text-align: center;
		border:1px solid #b9b8b8;
		border-radius: 3px;
}
.rep-grp-blk input[type=checkbox]:checked + .rep-label:before {
		content: "\2713";
		text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
		font-size: 15px;
		line-height: 15px;
}

/**************** Overlay Contents ***********************/















@media all and (max-width: 1350px) {
.m-width{
width:95%;
margin:auto;
}
.w-pad{
width:95%;
margin:auto;
}
.search-blk{
width: 75%;
}
.searchbox-holder{
width: 100%;
}
.lf-block {
width: 65%;
}
.rg-block {
width: 30%;
}
.logged-user-info {
width: 75%;
}
.logged-user-info .user-info > div{
width: 100%;
}

.agency-details .agency-name-details {
width: 45%;
}

.agency-details .agency-name-details .agency-name{
font-size:16px;
}
.agency-details .agency-name-details .agency-email{
font-size:14px;
}
.agency-details .agency-pic-box{
margin-right: 15px;
}
.feed-user-share-b{
width:20%;
}
.feed-user-share-b a:first-child {
margin-right: 0px;
margin-bottom: 5px;
}
.feed-user-share-b .feed-btn{
width: 75%;
}
.feed-user-det-b .bot-b .feed-date, .feed-user-det-b .bot-b .feed-location, .feed-user-det-b .bot-b .cust-phone, .feed-user-det-b .bot-b .cust-email{
margin: 0px 12px;
}




}

@media all and (max-width: 1200px) {

.feed-block .feed-det .feed-det-pad .feed-pic-b{
margin-right: 10px;
}

.feed-user-det-b .bot-b .feed-date, .feed-user-det-b .bot-b .feed-location, .feed-user-det-b .bot-b .cust-phone, .feed-user-det-b .bot-b .cust-email {
margin: 0px 2px;

}




}

@media all and (max-width: 1000px) {
.search-blk{
width:70%;
}
.logged-user-info .user-info > div{
width:100%;
font-size:14px;
}

.agency-details .agency-pic-box{
width: 40%;
}



}

@media all and (max-width: 850px) {

.search-blk {
width: 60%;
}
.logged-user-info .user-info > div >span:last-child{
display:none;
}


@media all and (max-width: 600px) {

.search-blk {
width: 55%;
}
.logged-user-info{
border:none;
width:60px;
right: -60%;
}
.logged-user-info  > div {
float:none;
}

.logged-user-info :nth-child(n+2){
display:none;
}


}

@media all and (max-width: 500px) {
.search-blk {
width: 50%;
}


}












.main_div {
    position: relative;
    margin: auto;
    background-color: #E9EFF0;
    min-width: 320px;
    max-width: 1300px;
    width: 100%;
    clear: both;
}

.parent_div {
    position: relative;
    padding: 5px;
    height: 100%;
}

.headerItems {
    position: relative;
    /* padding: 2px; */
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.headertag {
    position: relative;
    margin-left: auto;
    height: 160px;
    margin-right: auto;
    width: 100%;
}

.leftitems {
    position: relative;
    float: left;
    width: 70%;
    height: 100%;
    display: inline-block;
    margin-left: 4px;
    margin: auto;
    margin-right: 16px;
}
.rightitems{
    position: absolute;
    float: right;
    width: 29%;
    display: inline-block;
    height: 100%;
    /* margin: auto; */
    /* margin-left: 8px; */
}

.leftitem_contents {
    width: 900px;
    position: relative;
    /* margin-right: 16px; */
    height: 100%;
}

.rightitem_contents {
    width: 368px;
    position: relative;
    padding: 0px;
}


.logosearch_div {
    position: relative;
    margin-bottom: 2px;
    height: 100%;
}

.logo_div {
    position: relative;
    float: left;
    width: 20%;
    height: 66px;
}

.searchbox_div {
    position: relative;
    float: right;
    width: 78%;
    height: 53px;
}

.c_logo {
    height: 100%;
    width: 152px;
}


.c_searchbox {
    width: 701px;
    position: relative;
    height: 53px;
    border: 1px solid gray;
}



.mainnmenu_div {
    position: relative;
    float: left;
    width: 100%;
    height: 80px;
    background-color: #379ba2;
    margin-bottom: 15px;
    margin-top: 15px;
}

.mainmenudiv_contentarea {
    height: 81px;
}

.mainmenu_ul {
    height: 100%;
}

.m_mainmenuul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

li{
    display:inline-block;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
}

.menuHome,.menuCarrrier,.menuCustomers,.menuMyReps {
    display: inline;
    position: relative;
    height: 85px;
}

.mhome,.mcarrier,.mcustomers,.mmyreps {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-family: PTSans;
}


.adminlogo_div {
    position: relative;    
    height: 53px;
    border: 1px solid #b9b8b8;
    margin-bottom: 25px;
    width: 368px;
}

.adminprofilepicture_div {
    position: relative;    
    height: 53px;
    width: 60px;
    float: left;
}

.adminprofilename_div{
    position: relative;    
    height: 35px;
    width: 65%;
    float: left;
    text-align: center;
    padding-top: 10px;
}

.adminprofilearea_div {
    position: relative;    
    height: 53px;
    width: 10%;
    float: left;
}

.adminprofilepic {
    position: relative;    
    height: 53px;
}

.adminprofilename {
    position: relative;    
    height: 53px;
    text-align: initial;
    font-family: OpenSans;
    font-size: 12px;
    margin-left: 11px;
    color: #4f4b4b;
}

.adminprofilearrow {
    width: 35px;
    height: 53px;
    background: url(images/sprite_images_icon.png) -146px -300px;
}

.adminpic {
    height: 100%;
    width: 100%;
}

.adminarrow {
    height: 80px;
    width: 100%;
}

.admininfo_maindiv {
    position: relative;
    width: 100%;
    background-color: #C8D2D5;
    height: 140px;
}

.admininfo_parentdiv {
    position: relative;
    height: 100%;
    margin: 2px;
}

.logo_maindiv {
    position: absolute;
    height: 100%;
    float: left;
    width: 40%;
}

.admincontactinfo_maindiv {
    position: relative;
    height: 100%;
    float: right;
    width: 59%;
}

.logo_contentarea {
    background-color: #379ba2;
    height: 106px;
    margin: 15px;
    width: 120px;
    margin-right: 26px;
}

.admincontactinfo_contentarea {
    height: 100%;
    font-size: 18px;
    color: black;
}

.agencyname {
    text-align: left;
    padding-top: -9px;
    padding-top: 48px;
    height: 25px;
    width: 100%;
    font-size: 18px;
    font-family: OpenSans;
    color: #3e3e3e;
}
.agencyemailid{
    text-align: left;
    padding-top: -9px;
    height: 60px;
    width: 100%;
    color: #3e3e3e;
    font-family: OpenSans;
    font-size: 17px;
}

.alerts_div {
    height: 39px;
    position: relative;
    width: 70%;
    float: left;
    top: -43px;
}

.alerts_parentdiv {
    height: 40px;
    position: relative;
}

.feeds_maindiv {
    position: relative;
    height: 39px;
    width: 30%;
    float: left;
}

.alerts_maindiv {
    position: relative;
    height: 39px;
    width: 49%;
    float: left;

}

.sortby_maindiv {
    position: relative;
    height: 39px;
    width: 19%;
    float: right;
    border: 1px solid gray;
}

.feeds_parentdiv {
    height: 39px;
    font-size: 22px;
    color: #298C90;
    text-align: initial;
}

.alertcontentarea_div {
    height: 39px;
}

.myalert_div {
    height: 39px;
    float: left;
    width: 33.3%;
}

.incidents_div {
    height: 39px;
    float: left;
    width: 33.3%;
}

.policies_div {
    height: 39px;
    float: left;
    width: 33.3%;
}

.myalert_parent {
    height: 39px;
    margin-right: 5px;
    background-color: #298C90;

}

.incidents_parent {
    height: 39px;
    margin-right: 5px;
    background-color: #298C90;
}

.policies_parent {
    height: 39px;
    margin-right: 5px;
    background-color: #298C90;
}

.alertstext {
    padding-top: 10px;
    text-align: center;
    text-align: -webkit-center;
    font-size: 15px;
    color: white;
}

.sortby_parentdiv {
    height: 39px;
    position: relative;
}

.leftitemsortby_div {
    width: 70%;
    height: 39px;
    float: left;

}

.rightitemsortby_div {
    width: 30%;
    height: 39px;
    float: left;
}

.leftitem_sortby {
    margin-left: 12px;
    height: 39px;
}

.rightitem_sortby {
    height: 39px;
}

.sortby_div {
    height: 39px;
    padding-top: 7px;
    color: black;
    font-size: 15px;
}

.footer_div {
    position: relative;
    height: 42px;
}

.clear {
    clear: both;

}

.homeicon {
    width: 44px;
    margin-left: auto;
    height: 43px;
    margin-right: auto;
    background: url(../images/sprite_images_icon.png) -35px 2px;

}

.carriericon {
    width: 44px;
    margin-left: auto;
    height: 44px;
    background: url(../images/sprite_images_icon.png) 0px -32px;

    margin-right: auto;
}

.customersicon {
    width: 44px;
    margin-left: auto;
    height: 44px;
    background: url(../images/sprite_images_icon.png) -32px -33px;
    margin-right: auto;
}

.myrepsicon {
    width: 33px;
    margin-left: auto;
    height: 44px;
    background: url(../images/sprite_images_icon.png) -69px 4px;
    margin-right: auto;
}

.feedicon {
    float: left;
    width: 39px;
    margin-left: 10px;
    height: 34px;
    background: url(../images/sprite_images_icon.png) 0px -4px;
}

.textfeed {
    float: left;
    height: 39px;
    font-family: OpenSans-Semibold;
    color: #379ba2;
    font-size: 14px;
    margin-top: 8px;
}

.sortby_arrow_div {
    width: 35px;
    /* margin-left: 18px; */
    float: left;
    height: 35px;
    background: url(../images/sprite_images_icon.png) -99px -297px;
}

.dynamic_div1 {
    margin-top: 15px;
    height: 85px;

}

.div1_leftdiv {
    height: 85px;
    margin: 2px;
    width: 74%;
    float: left;
    background-color: #C8D2D5;
}

.div1_rightdiv {
    height: 85px;
    margin: 2px;
    width: 24%;
    background-color: #C8D2D5;
    margin-right: 15px;
    float: right;
}

.leftdiv_contentdiv {
    height: 83px;
    width: 900px;
}

.image_div {
    float: left;
    width: 45px;
    margin: 8px;
    height: 68px;
    border: 1px solid gray;
}

.customerinfo_div {
    float: left;
    width: 549px;
    height: 85px;
}

.shareinfo_div {
    float: left;
    width: 251px;
    height: 100%;
    margin-left: 3px;
}

.customerimage {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
.customerinfodiv_up{
    height: 32px;
    margin-bottom: 21px;
    margin: 8px;
}
.customerinfodiv_down{
    height: 32px;
}
.customerinfo{
    height: 85px;
    margin: 0px;
}

.mobileicon_div{
    width: 18px;
    height: 35px;
    background: url(../images/sprite_images_icon.png) -180px -78px;
    float: left;
    margin-right: 15px;
}

.customername_div{
    float: left;
    color: black;
    font-size: 15px;
    margin-right: 5px;
}
.customername_span{
    color: #585858;
    font-size: 20px;
    font-family: OpenSans;
}
.customertime_span{
    color: gray;
    font-size: 10px;
    margin-left: 10px;
    color: #585858; 
    font-size: 12px; font-family: OpenSans;
}

.sharetext,.viewtext{
    margin-left: 6px;
    font-size: 15px;
}

.viewtext{
    margin-left: 5px;
    float: left;
    margin-top: 2px;
}
.incidentalert_span{
    color: #f34f4e;
    margin-left: 20px;
}
.icon2_div{
    float: left;        
    width: 18px;
    height: 24px;
    margin-left: 10px;
    margin-right: 10px;
    background: url(../images/sprite_images_icon.png) -143px -73px;
}
.customerdetailes_div{
    float: left;
}

.bdayicon_contentdiv{
    width: 21%;
    float: left;
    margin-right: 35px;
}
.placeicon_contentdiv{
    width: 21%;
    float: left;
    margin-right: 35px;
}
.telephoneicon_contentdiv{
    width: 14%;
    float: left;
    margin-right: 35px;
}
.emailicon_contentdiv{
    width: 21%;
    float: left;
}
.bdayicon_div{
    float: left;        
    width: 16px;
    height: 21px;
    margin-left:  8px;
    margin-right: 15px;
    background: url(../images/sprite_images_icon.png) -111px -207px;
}
.placeicon_div{
    float: left;        
    width: 18px;
    height: 28px;
    margin-right: 15px;
    background: url(../images/sprite_images_icon.png) -139px -208px;
}
.telephoneicon_div{
    float: left;        
    width: 18px;
    height: 23px;
    margin-right: 15px;
    background: url(../images/sprite_images_icon.png) -170px -208px;
}
.emailicon_div{
    float: left;        
    width: 18px;
    height: 28px;
    margin-right: 15px;
    background: url(../images/sprite_images_icon.png) -109px -244px;
}
.shareinfo_contentarea{
    width: 100%;

}
.share_div{
    height: 30px;
    margin: 27px auto;
}
.leftsideshare_div{
    float: left;
}
.rightsideview_div{
    float: left;
    padding-left: 15px;
}
.menuHome_li{
    height: 100%;
    width: 184px;
}

.leftsidesharecontent{
    background-color: #298C90;
    height: 30px;
    width: 118px;
    color: white;
    padding-top: 9px;
}

.rightsidesharecontent{
    background-color: #298C90;
    height: 30px;
    width: 118px;
    color: white;
    padding-top: 9px;
}

.shareicon{
    float: left;        
    width: 24px;
    height: 29px;
    margin-left: 13px;
    background: url(../images/sprite_images_icon.png) -178px -44px;
}
.viewicon{
    float: left;        
    width: 26px;
    height: 28px;
    margin-left: 19px;
    margin-top: 2px;
    background: url(../images/sprite_images_icon.png) -109px -82px;
}
.div1_rightsidediv_contentarea{
    height: 75px;
    margin: 0px 31px;
    width: 330px;
    margin-top: -6px;
    /* margin-right: -120px; */
}

.textcounts_div,.photoscounts_div,.voicecounts_div{
    width: 88px;
    height: 75px;
    float: left;
    text-align: center;
    position: relative;
    margin-right: 2px;
    margin-left: 8px;
}
.texticon{
    width: 21px;
    height: 40px;
    alignment-adjust: central;
    margin-left: 9px;
    /* margin-right: 9px; */
    /* margin-top: 2px; */
    background: url(../images/sprite_images_icon.png) -110px -263px;
    margin-top: 9px;
}
.photoicon{
    width: 21px;
    height: 34px;
    alignment-adjust: central;
    margin-left: 10px;
    margin-right: 9px;
    /* margin-top: 4px; */
    background: url(../images/sprite_images_icon.png) -138px -265px;
    margin-top: 10px;
}

.voiceicon{
    width: 21px;
    height: 40px;
    alignment-adjust: central;
    margin-left: 9px;
    margin-right: 9px;
    background: url(../images/sprite_images_icon.png) -168px -266px;
    margin-top: 10px;
}
.messageicon{
    float: left;
    width: 52px;
    height: 40px;
    margin-top: 10px;    
    background: url(../images/sprite_images_icon.png) -147px -229px;
}
.messagetext{
    margin-top: 8px;
    float: left;
    width: 66%;
    margin-top: 20px;
}

.footerclass{
    height: 42px;
    background-color: #D3D9DA;
    position: static;
    bottom: 16px;
    margin-top: 20px;
}
.footerclass_parent_div{
    height: 42px;
    padding: 2px;
}
.protocallhref{
    margin-left: 8px;
    text-decoration: none;
    color: grey;
}
.sitelink_div{
    width: 60%;
    float: left;
    padding-top: 8px;
    height: 30px;
}
.majorlink_div{
    width: 40%;
    float: left;
    height: 30px;
    text-align: center;
    padding-top: -13px;
}
.div_messages_rightsidediv_contentarea{
    height: 85px;
    margin: 4px 37px 0px 90px;
}
.parentdiv_addchangecoveragehome{
    height: 85px;
}
.majorlink_ul{
    margin: 9px;
}
.section_div{
    height: 45px;
    width: 900px;
    margin-top: 16px;
    /* margin-left: 7px; */
    margin-right: 16px;
}
.parentsection_div{
    height: 100%;
    width: 100%;
    margin-top: 21px;
    margin-left: 2px;
}

.feeds_div{
    float: left;
    width: 250px;
    height: 39px;
}
.malerts_div{
    float: left;
    width: 450px;
    height: 39px;
}
.msortby_div{
    float: left;
    width: 171px;
    height: 37px;
    margin-left: 25px;
}
.sortbydiv_contentarea{
    width: 100%;
    height: 100%;
    border: 1px solid #b9b8b8;
    margin-left: 0px;
}
.sortby_text{
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 15px;
    color: #7a7a7a;
    width: 118px;
}

.dynamic_section{
    position: relative;
    height: 85px;
    margin: 15px 0px 15px 0px;
    width: 100%;
}
.left_dynamicdiv{
    height: 100%;
    width: 70%;
    margin-right: 16px;
    float: left;
    margin-left: 0px;
    background-color: #C8D2D5;
}
.right_dynamicdiv{
    width: 27%;
    height: 78%;
    float: left;
    background-color: #C8D2D5;
    padding: 10px;
}

.icon2name_span{
    float: left;
    margin-top: 7px;
    font-family: OpenSans;
    font-size: 12px;
    color: #4f4b4b;
}
.bdayDate_span{
    font-family: OpenSans;
    font-size: 12px;
    color: #4f4b4b;
    width: 100%;
}
.placename_span{
    font-family: OpenSans;
    font-size: 12px;
    color: #4f4b4b;
}
.telephonenumber_span{
    font-family: OpenSans;
    font-size: 12px;
    color: #4f4b4b;
}
.emailid_span{
    font-family: OpenSans;
    font-size: 12px;
    color: #4f4b4b;
}
.c_textcount_div{
    float: left;
    height: 60px;
    width: 20px;
    position: relative;
}
.c_texticon_div{
    float: left;
    height: 60px;
    width: 50%;
    position: relative;
}

.c_text{
    position: relative;
    margin-right: 8px;
    color: #379ba2;
    font-size: 14px;
}

.parent_textcount_div{
    height: 22px;
    position: relative;
    background-color: #379ba2;
    margin-top: 18px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.textcount{
    margin-left: 1px;
    padding-top: 4px;
    text-align: center;
    position: relative;
    color: white;
}
.parent_texticon_div{
    height: 45px;
    width: 95%;
    border-radius: 10px;
    background-color: white;

}

@media screen and (max-width: 1320px) and (min-width: 100px)  {
    .sortby_arrow_div{
        background: url(../images/sprite_images_icon.png) -89px -297px;
    }

}

@media screen and (max-width: 1292px) and (min-width: 900px)  {

    .rightitems{
        width: 29%;

        margin-left: 0px;

        /* margin-right: -31px; */
    }
    .leftitem_contents{
        width: 100%;
    }

    .rightitem_contents{
        width: 100%;
    }
    .c_searchbox{
        width: 100%;
    }
    .searchbox_div{
        width: 79%;
        margin-right: 2px;
    }
    .c_logo{
        width: 100%;
    }
    .menuHome_li{
        width: 20%;
    }
    .adminlogo_div{
        width: 99%;
    }
    .logo_contentarea{
        width: 100%;

        margin: 14px;
    }
    .admincontactinfo_maindiv{
        width: 52%;
    }
    .parentsection_div{
        width: 100%;

        /* margin-left: 1px; */
    }
    .feeds_div{
        width: 30%;
    }
    .malerts_div{
        width: 48%;
    }
    .msortby_div{
        width: 21%;

        margin-left: 1px;
    }
    .section_div{
        width: 70%;

        /* margin-left: 1px; */
    }
    .sortby_text{
        width: 59%;

        float: left;
    }
    .sortby_arrow_div{
        width: 37%;

        float: left;

        background: url(../images/sprite_images_icon.png) -83px -297px;
    }
    .admininfo_maindiv{
        width: 99%;
    }
    .left_dynamicdiv{
        width: 69%;

        margin-left: 2px;
    }
    .right_dynamicdiv{
        width: 26%;
    }
    .dynamic_section{
        width: 101%;
    }
    .leftdiv_contentdiv{
        width: 100%;
    }
    .div1_rightsidediv_contentarea{
        width: 100%;

        margin: 0px;
    }
    .image_div{
        width: 10%;
    }
    .customerinfo_div{
        width: 60%;
    }
    .shareinfo_div{
        width: 25%;
    }
    .textcounts_div{
        width: 30%;

        margin-left: 2px;
        margin-right: 2px;
    }
    .photoscounts_div{
        width: 30%;

        margin-right: 2px;
        width: 32%; 
        margin-left: 0px; margin-right: 2px;
    }
    .voicecounts_div{
        width: 30%;
    }
    .c_texticon_div{
        width: 45%;
    }

    .photoicon{
        margin-left: 4px;

    }
    .texticon{
        margin-left: 4px;

    }
    .voiceicon{
        margin-left: 4px;

    }
    .customername_span{
        font-size: 15px;
    }
    .customertime_span{
        margin-left: 3px;

        font-size: 9px;
    }
    .incidentalert_span{
        margin-left:10px;
    }
    .icon2_div{
        margin-left: 5px;
        margin-right:5px;

        background: url(../images/sprite_images_icon.png) -143px -77px;
    }
    .icon2name_span{
        font-size: 11px;

        margin-top: 5px;
    }
    .bdayicon_contentdiv,.placeicon_contentdiv,.telephoneicon_contentdiv{
        margin-right: 0px;

        width: 25%;
    }
    .bdayicon_div,.placeicon_div,.telephoneicon_div,.emailicon_div{
        margin-left: 4px;
        margin-right: 4px;
    }
    .bdayDate_span,.placename_span,.telephonenumber_span,.emailid_span{
        font-size: 10px;
    }
    .emailicon_contentdiv{
        margin-left: -15px;
    }
    .leftsideshare_div,.rightsideview_div{
        width: 43%;
    }
    .leftsidesharecontent,.rightsidesharecontent{
        width: 100%;

        float: left;
    }
    .sharetext,.viewtext{
        font-size: 12px;

        margin-top: 5px;
    }
    .shareicon,.viewicon{
        margin-left: 3px;
    }
    .sitelink_div{
        width: 30%;
    }
    .majorlink_div{
        width: 70%;
    }

}
